.fontSize70 {
    font-size: 70%;
}

.fontSize125 {
    font-size: 125%;
}

.fontSize140 {
    font-size: 140%;
}

.fontSize180 {
    font-size: 180%;
}

.fontSize200 {
    font-size: 200%;
}

.red {
    color: red;
}

.black {
    color: black;
}

.silver {
    color: silver;
}

.bold {
    font-weight: bold;
}

.tableHeader {
    font-weight: bold;
    color: #9acfea;
}

.href {
    font-size: 120%;
}

.errorField {
    background-color: #ffcccc;
    border: 2px solid red;
}

.table {
    width: auto;
    border-spacing: 5px;
}

.up-padding {
    padding-top: 100px;
}

.buttonPaddingTop {
    padding-top: 10px;
}

.tableSpacing {
    border-spacing: 5px;
}

.buttonWidth {
    width: 100px;
}

.labelWidth150 {
    width: 150px;
}

.labelWidth200 {
    width: 200px;
}

.labelWidth300 {
    width: 300px;
}

a:hover {
    color: white;
}

.errorMessage {
    padding-top: 30px;
    padding-bottom: 30px;
    color: red;
}

.block {
    width: 100px;
    height: 100px;
    position: relative;
}

.block img {
    max-width: 100%;
    max-height: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}