html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: #000;
    background: #fff;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

a img {
    border: none;
}

.btn {
    padding: 0 13px;
    height: 39px;
    line-height: 37px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    border-radius: 0;
    transition: all 0.2s;
}

.btn--v1 {
    background: #e34a14;
}

.btn--v2,
.btn--v3 {
    border: 4px solid #fff;
    padding: 0 50px;
    height: 48px;
    line-height: 40px;
}

.btn--v2:hover,
.btn--v3:hover {
    background: #fff;
}

.btn--v2 {
    color: #fff;
}

.btn--v3 {
    color: #000;
}

.btn--db {
    display: block;
    width: 100%;
}

.btn--lg {
    height: 51px;
    line-height: 51px;
}

.btn--w225 {
    min-width: 225px;
}

.i:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url("../img/icons.png") no-repeat 0 0;
    margin-right: 10px;
    margin-top: -2px;
}

.i__fl:before {
    width: 13px;
    height: 11px;
    background-position: 0 0;
}

.i__cal:before {
    width: 12px;
    height: 13px;
    background-position: 0 -11px;
}

.i__t:before {
    width: 11px;
    height: 11px;
    background-position: 0 -24px;
}

.i__pr:before {
    width: 12px;
    height: 13px;
    background-position: 0 -35px;
}

.pt1_5 {
    padding-top: 101.4px;
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pt55 {
    padding-top: 55px;
}

.mh100 {
    min-height: 100%;
}
.fontSize70 {
    font-size: 0.7rem;
}

.fontSize125 {
    font-size: 1.25rem;
}

.fontSize140 {
    font-size: 1.4rem;
}

.fontSize180 {
    font-size: 1.8rem;
}

.fontSize200 {
    font-size: 2rem;
}
.silver {
    color: #666;
}
.gray-page {
    background: #2a2a2a;
    color: #ccc;
}

a.link-back {
    color: #e34e19;
    display: inline-block;
    font-size: 12px;
}

a.link-back:before {
    content: '';
    display: inline-block;
    background: url("../img/back.png") no-repeat;
    width: 6px;
    height: 11px;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

a.link-text {
    color: #8985fd;
}

.english {
    color: #555;
}

.english .no-bg .list-pruf, .english .page--bg-white .list-pruf {
    margin: 15px 0 15px 20px;
}

.english ol {
    list-style-type: decimal;
    line-height: 1.6;
    margin-left: 20px;
}

.english .page--bg-white ol {
    margin: 15px 30px 30px;
}

.english .page--bg-white h2 {
    font-size: 20px;
}

.orange {
    color: #e34a14;
}

.name-lecturer {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.title-lecturer {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 25px 0;
    line-height: 24px;
}

.desc-lecturer {
    font-size: 16px;
    font-weight: 300;
    margin: 15px 0;
    line-height: 24px;
}

.list-lecturer {
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}

.list-lecturer li {
    padding-left: 55px;
    position: relative;
}

.list-lecturer li:before {
    content: '';
    position: absolute;
    background: #ccc;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    left: 0;
    top: 10px;
}

.photo-lecturer {
    text-align: center;
    position: relative;
    width: 85%;
    margin: 0 auto 50px;
}

.photo-lecturer:before {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    left: 0;
    top: 15%;
    border: solid 4px #555;
}

.photo-lecturer img {
    width: 269px;
    height: 269px;
    position: relative;
}

.footer {
    background: #222;
    height: 58px;
    color: #ddd;
    font-size: 12px;
    padding: 10px 0;
    font-weight: 300;
}

.footer .logo {
    display: inline-block;
    background: url("https://vertex-academy.com/img/logo-w.png") no-repeat;
    background-size: 100% auto;
    width: 68px;
    height: 12px;
}

.footer .copyright {
    color: #999;
    margin-bottom: 3px;
    padding-left: 8px;
    margin-right: 10px;
}

.footer .copyright a {
    margin-right: 10px;
}

.footer .right {
    width: 200px;
    float: right;
}

.footer .left {
    padding-right: 220px;
    padding-top: 12px;
    margin-left: -8px;
}

.footer .left .cont {
    color: #999;
    line-height: 17px;
}

.footer .left .cont span {
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    white-space: nowrap;
}

.footer .social-block {
    float: right;
    margin-top: 5px;
}

.footer .social-block a {
    width: 31px;
    height: 30px;
    margin-right: 5px;
    background: url("../img/soc2.png");
    display: inline-block;
}

.footer .social-block a:last-child {
    margin-right: 0;
}

.footer .social-block a:hover {
    opacity: 0.5;
}

.footer .social-block a.vk {
    background-position: -34px 0;
}

.footer .social-block a.tw {
    background-position: -68px 0;
}

.footer .social-block a.gp {
    background-position: -102px 0;
}

.footer .social-block a.in {
    background-position: -136px 0;
}

.footer-under .page {
    padding-bottom: 58px;
}

.footer-under .footer {
    margin-top: -58px;
}

.c-a-slider__info {
    left: -40% !important;
    right: -40% !important;
}

.title-big-img {
    background-position: 50% 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 400px;
}

.fz-20 {
    font-size: 20px;
    line-height: 1.6;
    color: #000;
    font-weight: bolder;
}

h1.inside-title {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
}

h3.inside-title {
    margin-bottom: 15px;
}

.quote {
    font-style: italic;
    font-size: 18px;
    line-height: 20px;
    margin: 15px 0;
    padding: 20px 20px 10px 40px;
    position: relative;
}

.quote:before {
    content: '';
    position: absolute;
    background: url("../img/icons.png") no-repeat -62px 0;
    left: 0;
    top: 0;
    width: 38px;
    height: 22px;
}

.inside-list {
    line-height: 20px;
    margin-bottom: 15px;
}

.inside-list li {
    padding-left: 40px;
    position: relative;
}

.inside-list li:before {
    content: '';
    position: absolute;
    background: #555;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    left: 0;
    top: 10px;
}

.text-img.pull-left {
    margin: 0 30px 30px 0;
}

.text-img.pull-right {
    margin: 0 0 30px 30px;
}

.table-main {
    border-collapse: collapse;
}

.table-main > tbody > tr > td {
    border: solid 1px #ecebeb;
    background: #fff;
    color: #555;
    padding: 8px 20px;
}

.table-main > thead > tr > td {
    border: solid 1px #ecebeb;
    background: #424242;
    color: #fff;
    padding: 8px 20px;
}

.bg-img--670 {
    background-size: cover !important;
}

.no-bg {
    background: none !important;
}

.f-white {
    color: #fff;
}

.graf-block {
    margin: 30px 0;
}

.graf-block img {
    display: block;
    width: 100%;
}

.graf-block .desc {
    font-size: 12px;
    color: #777;
    margin: 15px 3px;
}

.list-pruf {
    margin: 80px 0 0 50px;
}

.list-pruf li {
    margin-bottom: 10px;
    background: url("../img/ok.png") 0 7px no-repeat;
    padding-left: 20px;
    line-height: 20px;
}

.list-pruf li .pull-left {
    margin-right: 3px;
}

.list-pruf li .big {
    color: #e34a14;
    font-size: 24px;
    display: inline-block;
}

.desc-course {
    min-height: 420px;
}

.unity-block {
    display: block;
    height: 150px;
    text-align: center;
    text-decoration: none;
}

.unity-block:hover {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.unity-block h3 {
    text-transform: uppercase;
    color: #2a2a2a;
    line-height: 150px;
    text-shadow: 1px 1px 4px #ccc;
}

.list-desc {
    margin: 20px 0;
}

.list-desc li {
    margin-bottom: 10px;
    background: url("../img/ok.png") 0 7px no-repeat;
    padding-left: 50px;
    line-height: 20px;
}

.list-desc li .pull-left {
    margin-right: 3px;
}

.list-desc li .big {
    color: #e34a14;
    font-size: 24px;
    display: inline-block;
}

.list-desc.list-light li {
    margin-bottom: 4px;
}

.right-inform-block {
    min-height: 640px;
    position: relative;
    padding-top: 50px;
}

.right-inform-block .send-mail {
    width: 100%;
    padding: 0 15% 100px;
}

.right-inform-block .block-lecturer {
    margin: 0 15%;
    border-bottom: 1px solid #3e3e3e;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.right-inform-block .block-lecturer img {
    float: left;
    width: 70px;
    height: 70px;
}

.right-inform-block .block-lecturer .right {
    padding-left: 40%;
}

.right-inform-block .block-lecturer .title {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
}

.right-inform-block .block-lecturer .name {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.right-inform-block .block-lecturer .desc {
    color: #999;
    line-height: 16px;
    margin-bottom: 10px;
}

.right-inform-block .block-lecturer .more {
    color: #e34a14;
    text-transform: uppercase;
}

.right-inform-block .block-lecturer .separ {
    clear: both;
    margin-bottom: 20px;
}

.iform-block-table {
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    padding: 10px 0 0;
}

.iform-block-table .one-b {
    border-right: solid 1px #e9e9e9;
    padding-left: 35px;
    padding-right: 0;
    font-size: 14px;
    color: #2a2a2a;
    margin-bottom: 10px;
}

.iform-block-table .one-b:last-child {
    border-right: none;
}

.iform-block-table .one-b .title {
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 5px;
    position: relative;
}

.iform-block-table .one-b .title:before {
    content: '';
    position: absolute;
    left: -17px;
    top: -1px;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 13px;
    height: 13px;
}

.iform-block-table .one-b .title.start:before {
    background-image: url("../img/ico1.png");
}

.iform-block-table .one-b .title.course:before {
    background-image: url("../img/ico2.png");
}

.iform-block-table .one-b .title.time:before {
    background-image: url("../img/ico3.png");
}

.iform-block-table .one-b .title.price:before {
    background-image: url("../img/ico4.png");
}

.iform-block-table .one-b .desc {
    padding-left: 5px;
}

/************* MEDIA ******************/
@media (max-width: 990px) {
    .iform-block-table .one-b.course {
        border-right: none;
    }

    .footer .left {
        padding-top: 5px;
    }
}

.inside .navbar-hide {
    display: block;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.inside .navbar-hide .logo {
    background: url("https://vertex-academy.com/img/logo.png") no-repeat;
    background-size: 146px auto;
}

.inside .navbar-hide .navbar-nav {
    display: table;
    opacity: 1;
}

@media (max-width: 480px) {
    .c-a-slider__info {
        left: 0px !important;
        right: 0px !important;
    }
}

@media (max-width: 768px) {
    .footer {
        height: 75px;
    }
}

@media (max-width: 768px) {
    .list-pruf {
        margin: 20px 0;
    }

    .footer {
        height: auto;
        text-align: center;
    }

    .footer .left {
        padding-right: 0;
    }

    .footer .right {
        float: initial;
        width: auto;
    }

    .footer .right .social-block {
        float: initial;
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.cf {
    zoom: 1;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

h3 {
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

html,
body {
    height: 100%;
}

body {
    font-family: Ubuntu;
    background: #f1f1f1;
    font-size: 14px;
    color: #000;
}

.navbar {
    background-color: #fff;
    transition: all 0.2s;
    margin: 0;
    border: none;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    height: 78px;
}

.navbar .container {
    margin-top: 22px;
}

.navbar .logo {
    width: 146px;
    height: 41px;
    transition: all 0.2s;
    background: url("../img/logo.png") no-repeat;
    background-size: 146px auto;
}

.navbar-collapse {
    padding-left: 171px !important;
}

.navbar-nav {
    opacity: 1;
    transition: all 0.2s;
    display: table;
    width: 100%;
}

.navbar-nav > li {
    display: table-cell;
    float: initial;
    text-align: center;
    white-space: nowrap;
    padding: 0 10px;
}

.navbar-nav > li > a {
    color: #00010d;
    text-shadow: none;
    text-decoration: none;
    position: relative;
    padding: 0 4px;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.2s;
}

.navbar-nav > li > a:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0;
    width: 100%;
    height: 2px;
    transition: all 0.2s;
}

.navbar-nav > li > a:hover {
    color: #e34a14;
}

.navbar-nav > li > a:hover:after {
    background: #e34a14;
}

.navbar-nav > li > a.btn {
    color: #fff;
    line-height: 37px;
    width: 100%;
}

.navbar-nav > li > a.btn:hover {
    color: #333;
}

.navbar-nav > li > a.btn:after {
    display: none;
}

.navbar-toggle {
    padding: 9px 10px;
    margin: 0;
    opacity: 1;
    transition: all 0.2s;
}

.navbar-hide {
    background: none;
    box-shadow: none;
}

.navbar-hide .logo {
    background: url("https://vertex-academy.com/img/logo-w.png") no-repeat;
    background-size: 146px auto;
}

.navbar-hide .navbar-toggle,
.navbar-hide .navbar-nav {
    display: none;
    opacity: 0;
}

.navbar-nav > li:nth-of-type(6) {
    border: 2px solid #e34a14;
    padding: 10px;
    background: #e34a14;
}

.navbar-nav > li:nth-of-type(6) > a {
    color: #fff;
}

@media (max-width: 768px) {
    .navbar .navbar-nav {
        margin: 0;
        padding: 0;
    }
}

.mb-20 {
    margin-bottom: 20px !important;
}
.mt-30{
    margin-top:30px !important;
}
.mbt-20{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.ac{
    text-align: center;
}
.pt {
    padding-top: 98px;
}

.pt-nav {
    padding-top: 78px;
}

.pb {
    padding-bottom: 75px;
}

.f-gray {
    color: #555;
}

p {
    line-height: 20px;
    margin: 20px 0;
}

.page {
    overflow: hidden;
}

.page--bg-gray {
    background: #2a2a2a;
}

.page--bg-white {
    background: #fff;
}

body.index:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00010d;
}

.home-page {
    height: 100%;
    color: #fff;
    position: relative;
    z-index: 3;
    transition: all 0.2s;
}

.home-page .container {
    height: 100%;
    font-size: 0;
    white-space: nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.home-page .container:before {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.home-page .container .center-block {
    display: inline-block;
    vertical-align: middle;
    white-space: pre-wrap;
    position: relative;
    z-index: 1;
}

.home-page .title {
    font-size: 60px;
    font-weight: 500;
}

.home-page .title:after {
    content: "";
    display: block;
    margin: 20px auto;
    height: 4px;
    width: 70px;
    background: #fff;
}

.home-page .desc {
    font-size: 18px;
    margin: 20px 0 30px;
    white-space: pre-wrap;
}

.home-page .video {
    height: 100%;
}

.home-page .video .mb_YTPBar {
    display: none !important;
}

.card {
    margin-bottom: 30px;
    padding: 40px 29px 40px 29px;
    min-height: 355px;
    display: block;
    position: relative;
}

.card * {
    display: block;
}

.card-sw {
    box-shadow: 0 0 30px #b9b6b6;
    background-color: #fff;
}

.card-sw:hover .b-tit {
    color: #e34a14;
}

.card-sw:hover {
    text-decoration: none;
    box-shadow: 0 0 50px rgba(236, 61, 0, 0.45);
}

.card-stock {
    background-color: #e34a14;
    background-image: url("../img/bg-card-stock.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    color: #fff;
}

.card .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card .load-popup {
    position: relative;
}

.typed-cursor {
    font-weight: lighter;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

.b-tit {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 30px;
    line-height: inherit;
}

.b-tit--card {
    margin-right: -20px;
    margin-bottom: 0;
    min-height: 54px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-data {
    min-height: 170px;
}

.list-data__item {
    position: relative;
    border-top: 1px solid #e5e5e5;
    color: #555;
    padding: 5px 0 9px;
}

.list-data__item:first-child {
    border-top: 0;
}

.list-data__lb {
    float: left;
    width: 75px;
    font-size: 11px;
    color: #2a2a2a;
}

.list-data__tx {
    padding-left: 85px;
}

.list-data__pr {
    position: absolute;
    width: 33px;
    height: 33px;
    background: #e34a14;
    color: #fff;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    font-size: 12px;
    top: 9px;
    right: 0;
}

.p-old {
    color: #999;
    text-decoration: line-through;
    margin-bottom: 7px;
}

.p-old__s {
    font-size: 11px;
}

.p-now {
    color: #000;
    font-size: 24px;
    font-weight: bolder;
}

.p-now__s {
    font-size: 14px;
    display: inline;
}

.card-stock div {
    margin: 5px 0;
}

.list-stock {
    margin: 5px 0;
}

.list-stock__item {
    margin-top: 5px;
    position: relative;
    padding-left: 35px;
    line-height: 1.2;
}

.list-stock__item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.bg-img {
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.bg-img--267 {
    min-height: 267px;
}

.bg-img--347 {
    min-height: 347px;
    margin-bottom: 40px;
}

.bg-img--670 {
    min-height: 670px;
    color: #fff;
    background-color: #292929;
    padding-bottom: 50px;
}

.custom-col {
    padding-top: 50px;
}

.custom-col__l {
    float: left;
    width: 232px;
}

.custom-col__r {
    padding-left: 329px;
}

.b-quot {
    background: #fff;
    padding: 75px 32px 40px;
    font-size: 18px;
    font-style: italic;
    line-height: 1.3;
    position: relative;
    margin-bottom: 45px;
}

.b-quot__t {
    margin-bottom: 12px;
}

.b-quot__st {
    font-size: 14px;
    font-style: normal;
    color: #999;
}

.b-quot--inv {
    margin-top: -99px;
}

.b-quot:before {
    content: '';
    position: absolute;
    background: url("../img/icons.png") no-repeat -62px 0;
    width: 38px;
    height: 22px;
    left: 35px;
    top: 34px;
}

.article {
    color: #555;
    line-height: 1.5;
    margin-bottom: 45px;
}

.article__tit {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
    line-height: inherit;
}

.box-invert {
    background: #fff;
    padding: 40px 0;
}

.box-invert.unity .b-tit--card {
    font-size: 20px;
}

.b-ico-text {
    position: relative;
    padding-left: 98px;
    padding-top: 5px;
    line-height: 1.3;
    color: #555;
    margin-bottom: 20px;
    min-height: 75px;
}

.b-ico-text:before {
    content: '';
    position: absolute;
    background: url("../img/big-icons.png") no-repeat 0 0;
    left: 0;
    top: 0;
}

.b-ico-text--i1:before {
    width: 64px;
    height: 64px;
    background-position: 0 0;
}

.b-ico-text--i2:before {
    width: 47px;
    height: 64px;
    background-position: 0 -64px;
}

.b-ico-text--i3:before {
    width: 69px;
    height: 62px;
    background-position: 0 -128px;
}

.b-ico-text--i4:before {
    width: 54px;
    height: 63px;
    background-position: 0 -191px;
}

.b-ico-text--i5:before {
    width: 51px;
    height: 62px;
    background-position: 0 -256px;
}

.b-ico-text--i6:before {
    width: 56px;
    height: 63px;
    background-position: 0 -320px;
}

.b-ico-text--i7:before {
    width: 46px;
    height: 60px;
    background-position: 0 -384px;
}

.b-ico-text--i8:before {
    width: 64px;
    height: 46px;
    background-position: 0 -448px;
}

.b-img-slog {
    color: #fff;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    line-height: 1.3;
}

.b-img-slog .btn {
    padding: 0 69px;
}

.b-img-slog .b-tit {
    margin-bottom: 10px;
}

.b-img-slog__text {
    margin-bottom: 30px;
}

.wrap-slider {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.slider-logo {
    margin-bottom: 57px;
}

.slider-logo__item {
    text-align: center;
}

.slider-items__item {
    padding: 5px 15px;
    text-align: center;
}

.show-file {
    color: #e34a14;
    text-transform: uppercase;
}

.logo-item {
    display: block;
    background: #fff;
    outline: none;
    transition: all 0.2s;
}

.logo-item:active,
.logo-item:focus {
    outline: none;
}

.logo-item:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

.logo-item img {
    display: inline-block;
    max-width: 100%;
}

.slider-items .slick-list {
    margin: 0 -15px;
}

.slider-items .slick-arrow {
    position: absolute;
    width: 28px;
    height: 28px;
    background: url("../img/ico-nav.png") no-repeat 0 0;
    border: 0;
    outline: none;
    font-size: 0;
    line-height: 0;
    top: -41px;
    right: 0;
}

.slider-items .slick-prev {
    background-position: 0 0;
    right: 30px;
}

.slider-items .slick-prev:hover {
    background-position: -28px 0;
}

.slider-items .slick-next {
    background-position: -56px 0;
}

.slider-items .slick-next:hover {
    background-position: -84px 0;
}

.toggle-text {
    background: #fff;
    color: #000;
    margin-bottom: 7px;
}

.toggle-text__head {
    min-height: 63px;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    line-height: 1.1;
    transition: all 0.2s;
}

.toggle-text__head:hover {
    background: #f1f1f1;
}

.toggle-text__head:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    margin-top: -6px;
    right: 11px;
    background: url("../img/icons.png") no-repeat 0 -48px;
}

.toggle-text__content {
    display: none;
    padding: 0 30px 10px;
    color: #555;
}

.toggle-text__content.active {
    display: block;
}

.toggle-text__content p {
    margin-top: 10px;
    font-size: 16px;
}

.slider-post,
.slider-person {
    margin-bottom: 35px;
}

.post {
    display: block;
    background: #fff;
    min-height: 400px;
    font-size: 13px;
    text-align: left;
    transition: all 0.2s;
}

.post__img {
    height: 277px;
    overflow: hidden;
    position: relative;
}

.post__img img {
    display: block;
    width: 100%;
    height: auto;
}

.post__img:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.2s;
}

.post__img:after {
    content: '';
    position: absolute;
    width: 52px;
    height: 52px;
    top: 50%;
    margin-top: -26px;
    left: 50%;
    margin-left: -26px;
    background: url("../img/icons.png") no-repeat -16px -24px;
}

.post__cont {
    padding: 13px 10px;
}

.post__tit {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    margin-bottom: 7px;
    line-height: inherit;
    transition: all 0.2s;
}

.post__text {
    color: #999;
    line-height: 1.3;
}

.post:hover {
    text-decoration: none;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

.post:hover .post__tit {
    color: #e34a14;
}

.post:hover .post__img:after {
    background-position: -16px -77px;
}

.post:hover .post__img:before {
    opacity: 1;
}

.post:active,
.post:focus {
    outline: none;
}

.person {
    display: block;
    text-align: left;
    background: #fff;
    min-height: 296px;
    font-size: 13px;
    transition: all 0.2s;
}

.person__img {
    height: 170px;
    overflow: hidden;
}

.person__img img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.photo-lecturer img {
    height: auto;
}

.person__cont {
    padding: 9px;
}

.person__tit {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    margin-bottom: 7px;
}

.person__text {
    color: #555;
}

a.person:hover {
    text-decoration: none;
    background: #383838;
}

a.person:hover .person__text,
a.person:hover .person__tit {
    color: #fff;
}

a.person:hover .person__img {
    opacity: 0.7;
}

.slider-person .slick-prev {
    background-position: 0 -28px;
}

.slider-person .slick-prev:hover {
    background-position: -28px -28px;
}

.slider-person .slick-next {
    background-position: -56px -28px;
}

.slider-person .slick-next:hover {
    background-position: -84px -28px;
}

.nav-tab {
    margin-bottom: 44px;
}

.nav-tab__link {
    display: block;
    height: 57px;
    line-height: 57px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    border-bottom: 4px solid #555;
    padding-left: 10px;
    transition: all 0.2s;
}

.nav-tab__link:hover {
    background: #fff;
    color: #000;
    border-color: #fff;
    text-decoration: none;
}

.nav-tab__item.active .nav-tab__link {
    background: #fff;
    color: #000;
    border-color: #fff;
    text-decoration: none;
}

.content-tab__item {
    display: none;
}

.content-tab__item.active {
    display: block;
}

.wrap-c-a-slider {
    max-width: 1170px;
    padding: 0 45px;
    margin-left: auto;
    margin-right: auto;
}

.c-a-slider__item {
    text-align: center;
    position: relative;
}

.c-a-slider .slick-list {
    padding: 0 !important;
}

.c-a-slider .slick-list:after {
    content: '';
    position: absolute;
    left: 145px;
    right: 145px;
    height: 1px;
    background: #e5e5e5;
    top: 85px;
}

.c-a-slider .slick-track {
    z-index: 1;
    padding-bottom: 350px;
}

.c-a-slider .slick-arrow {
    position: absolute;
    width: 45px;
    height: 45px;
    background: url("../img/nav-center-sl.png") no-repeat 0 0;
    top: 60px;
    font-size: 0;
    border: 0;
    outline: none;
    z-index: 1;
}

.c-a-slider .slick-arrow:hover {
    opacity: 0.6;
}

.c-a-slider .slick-prev {
    left: 0;
    background-position: 0 0;
}

.c-a-slider .slick-next {
    right: 0;
    background-position: 0 100%;
}

.c-a-slider__info {
    opacity: 0;
    position: absolute;
    top: 180px;
    left: -80%;
    right: -80%;
    transition: all 0.2s;
}

.c-a-slider__tit {
    font-size: 14px;
    line-height: inherit;
    font-weight: bold;
    color: #000;
    margin-bottom: 3px;
}

.c-a-slider__sub-tit {
    font-size: 13px;
    color: #999;
    font-style: italic;
    margin-bottom: 50px;
    position: relative;
}

.c-a-slider__text {
    text-align: left;
    line-height: 1.4;
}

.c-a-slider__sub-tit:before {
    content: '';
    position: absolute;
    background: url("../img/icons.png") no-repeat -62px 0;
    width: 38px;
    height: 22px;
    top: 25px;
    left: 50%;
    margin-left: -19px;
}

.avatar-sl {
    display: inline-block;
    width: 95px;
    height: 95px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 36px;
}

.avatar-sl img {
    display: block;
    width: 100%;
    height: auto;
}

.slick-center .avatar-sl {
    width: 170px;
    height: 170px;
    margin-top: 0;
}

.slick-center .c-a-slider__info {
    opacity: 1;
}

#tubular-container {
    position: absolute !important;
}

.contacts-info {
    color: #555;
    margin-bottom: 30px;
}

.contacts-info .title {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.contacts-info .download-card {
    color: #999;
    display: inline-block;
    margin-top: 10px;
}

.contacts-info .col {
    position: relative;
    padding-left: 24px;
    margin-bottom: 10px;
    height: 100px;
}

.contacts-info .col:after {
    content: '';
    position: absolute;
    height: 83px;
    width: 1px;
    background: #e9e9e9;
    right: 20px;
    top: 0;
}

.contacts-info .col:last-child:after {
    display: none;
}

.contacts-info .social-block a {
    display: inline-block;
    width: 31px;
    height: 30px;
    margin-right: 4px;
    background: url("../img/soc1.png");
}

.contacts-info .social-block a.vk {
    background-position: -34px 0;
}

.contacts-info .social-block a.tw {
    background-position: -68px 0;
}

.contacts-info .social-block a.gp {
    background-position: -102px 0;
}

.contacts-info .social-block a.in {
    background-position: -136px 0;
}

.contacts-info .social-block a:hover {
    opacity: 0.5;
}

.contacts-info .subscribe {
    position: relative;
    max-width: 250px;
}

.contacts-info .subscribe .form-control {
    padding-right: 35px;
}

.contacts-info .subscribe .send {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border: none;
    background: url("../img/send.png") 50% no-repeat;
    font-size: 0;
}

.map-block {
    height: 430px;
    overflow: hidden;
    position: relative;
}

.map-block .map {
    overflow: hidden;
    height: 430px;
    position: relative;
}

.map-block .map iframe {
    margin-top: -87px;
}

/*.map-block .map:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/
.map-block .form-send-mail {
    position: absolute;
    top: 0;
    right: 5%;
    background: #2a2a2a;
    width: 300px;
    height: 100%;
    padding: 45px 35px;
}

.send-mail .title {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.send-mail .desc {
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
}

.send-mail .form-control {
    margin-bottom: 15px;
    border: none;
}

.send-mail textarea {
    height: 95px;
    resize: none;
}

.send-mail .btn {
    margin-top: 20px;
}

.modal {
    text-align: center;
    font-size: 0;
    padding-right: 0 !important;
}

.modal:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-content {
    font-size: 14px;
}

.modal-open {
    overflow: auto;
    padding: 0 !important;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.modal-gray .modal-content {
    background: #2a2a2a;
    border-radius: 0;
    box-shadow: 0 0 23px #000;
}

.modal-dialog {
    z-index: 2000;
    width: 450px;
    display: inline-block;
    vertical-align: middle;
}

.modal-header {
    border: none;
}

.modal-header .close {
    background: url("../img/close.png") no-repeat;
    background-size: 16px auto;
    width: 16px;
    height: 16px;
}

.modal-body {
    padding: 30px 50px 50px;
}

.modal .send-mail .btn {
    margin: 20px auto 0;
}

.modal .send-mail .form-control {
    height: 38px;
}

.modal .send-mail textarea.form-control {
    height: 95px;
}

.home-page {
    background-image: url("../img/home-img.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
}

body.desct .home-page {
    background-image: none;
}

@media (max-width: 992px) {
    .contacts-info .col2:after {
        display: none;
    }

    .modal-dialog {
        width: 90%;
    }

    .modal-body {
        padding: 50px 24px 50px;
    }

    .box-invert.no-bg.unity > div > div {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .contacts-info .col {
        height: auto;
        margin-bottom: 20px;
    }

    .contacts-info .col:after {
        display: none;
    }

    .map-block .form-send-mail {
        left: 20px;
        right: 20px;
        width: auto;
    }
}

.f-red {
    color: #e34a14;
}

.form-control {
    border: solid 1px #d8dfe3;
    border-radius: 0;
    box-shadow: none;
}

.mtb20 {
    margin: 20px 0;
}
.mt60 {
    margin-top: 60px !important;
}
.js-tg-sl-join--hid {
    display: none;
}

.btns-split-slider {
    display: none;
}

.btns-split-slider.active {
    display: block;
}

.tile-slider.active .slick-track {
    width: auto !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}

.tile-slider.active .js-tg-sl-join--hid {
    display: inline-block;
}

.tile-slider.active .js-tg-sl-join--vis {
    display: none;
}

.tile-slider.active .slick-arrow {
    display: none !important;
}

.tile-slider.active .slider-person .slider-items__item {
    width: 16.666666% !important;
}

.tile-slider.active .slider-post .slider-items__item {
    width: 25% !important;
}

.list-stock__item a {
    color: #fff;
}

.tile-slider.active .slick-cloned {
    display: none;
}

/* CRM*/
.crm-form {
    display: inline-block;
    padding: 40px 70px 60px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 80px;
    text-align: left;
    min-width: 50%;
    max-width: 100%;
}
.full-width{
    width: 100%;
}
[id $="errors"]{
    display: block;
    border: 1px solid #ff0000;
    margin-top: 5px;
    padding: 5px;
    color: #ff0000;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.crm h1{
    font-size: 2em;
    color: #666;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.crm h1:after {
    display: block;
    content: '.';
    font-size: 0;
    width: 100%;
    height: 2px;
    background: #ccc;
    margin: 20px 0 30px;
}
.crm h2 {
    font-size: 1.5em;
    color: #666;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px 0;
}
.crm a{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.crm label{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
}
.crm .submit-link{
    border: 2px solid #e34a14;
    padding: 10px 20px;
    background: #e34a14;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px auto 20px;
}
.crm .submit-link.outline{
    background: #eee;
    color: #666;
    border: 1px solid #666;
    transition: all 0.5s;
}
.crm .submit-link.outline:hover{
    background: #e34a14;
    color: #fff;
    border: 1px solid #e34a14;
}
.crm p{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    margin: 0;
}
.t-row {
    display: flex;
    align-items: center;
    min-height: 100px;
    box-shadow: 0 0 5px #e34a14;
    width: 44%;
    margin-right: 3%;
}
.crm .error-text{
    color: #ff0000;
}
.crm .error-field{
    border: 1px solid #ff0000;
}
.crm .error-box, .crm .success-box {
    width: 50%;
    padding: 50px;
}
.crm .error-box h1:after{
    display: none;
}
.crm .error-box h1, .crm .success-box h1{
    margin-bottom: 70px;
}
.crm .error-box.small {
    padding: 20px 50px;
    margin: 0 auto;
}
.crm .error-box h1 {
    color: #f44336;
    text-transform: capitalize;
}
.crm .success-box h1 {
    color: #27ae60;
    text-transform: capitalize;
}

.crm .error-box h1:after, .crm .success-box h1:after{
    margin: 60px 0 40px;
}

.d-flex{
    display: flex;
}
.align-right{
    justify-content: flex-end;
}
.align-middle{
    align-items: center;
}
.course-details .row {
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 0;
}
.course-details .container>.row:last-of-type{
    border-bottom:0;
}
.course-details .crm h1:after{
    margin-bottom:10px;
}
.course-details p{
    font-weight:bold;
}
.courses-result th{
    font-weight: bold;
}
.courses-result th, .courses-result td{
    border-bottom: 1px solid #ccc;
}
.courses-result tr{
    height:50px;
}
.courses-result tr:hover:not(:first-of-type){
    background: #efefef;
}
.courses-result tr>td:first-of-type{
    width: 30px;
}
.courses-result.first-auto tr>td:first-of-type{
    width: auto;
}
.certificate-details .courses-result tr>td:first-of-type{
    width: 40%;
    font-weight: bold;
}
.certificate-details .courses-result tr:hover{
    background: #efefef;
}
.course-users .courses-result tr>td:first-of-type{
    width: 20%;
}
.course-users .course-users-table tr:hover{
    background: none;
}
.course-users .course-users-table td{
    border-bottom: none;
}
.course-users .course-users-table tr>td:first-of-type{
    width: 30%;
}
.plane-link{
    color: #337ab7;
    background: none;
    border: none;
}
.plane-link:hover{
    text-decoration: underline;
}
.pagination a {
    color: #333;
    text-shadow: 0px 1px #F6F6F6 !important;
    padding: 6px 9px 6px 9px !important;
    border: solid 1px #B6B6B6 !important;
    box-shadow: 0px 1px #EFEFEF !important;
    -moz-box-shadow: 0px 1px #EFEFEF !important;
    -webkit-box-shadow: 0px 1px #EFEFEF !important;
    background: #E6E6E6 !important;
    background: -moz-linear-gradient(top,#FFFFFF 1px,#F3F3F3 1px,#E6E6E6) !important;
    background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FFFFFF),color-stop(0.02,#F3F3F3),color-stop(1,#E6E6E6)) !important;
    font-size: 12px !important;
    margin-right: 3px !important;
    text-decoration: none !important;
    cursor: pointer;
}
.pagination a.current{
    padding: 6px 9px 6px 9px !important;
    border: solid 1px #DCDCDC !important;
    color: #fff !important;
    box-shadow: 0px 1px #E7E7E7 !important;
    -moz-box-shadow: 0px 1px #E7E7E7 !important;
    -webkit-box-shadow: 0px 1px #E7E7E7 !important;
    margin-right: 3px !important;
    text-shadow: 0px 1px #CA470E !important;
    border-color: #D13F11 !important;
    background: #E95B2B !important;
    background: -moz-linear-gradient(top,#FFBE01 1px,#FE7C02 1px,#E95B2B) !important;
    background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FFBE01),color-stop(0.02,#FE7C02),color-stop(1,#E95B2B)) !important;
    cursor: default;
}
.pagination{
    display: block;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .card {
        height: auto;
        min-height: initial;
    }

    .home-page .title {
        font-size: 45px;
    }

    .home-page .desc {
        font-size: 13px;
    }

    .custom-col {
        padding-top: 50px;
    }

    .custom-col__l {
        float: none;
        width: 100%;
    }

    .custom-col__r {
        padding-left: 0;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding-left: 15px !important;
        background: #fff;
        max-height: initial !important;
    }

    .navbar-collapse .navbar-nav > li {
        display: block;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    .navbar-collapse .navbar-nav > li a {
        display: block;
    }

    .nav-tab__item {
        margin-bottom: 5px;
    }

    #tubular-container {
        display: none !important;
    }

    .tile-slider.active .slider-person .slider-items__item {
        width: 50% !important;
    }

    .tile-slider.active .slider-post .slider-items__item {
        width: 100% !important;
    }
}

@media (min-width: 550px) and (max-width: 768px) {
    .tile-slider.active .slider-post .slider-items__item {
        width: 50% !important;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .tile-slider.active .slider-person .slider-items__item {
        width: 25% !important;
    }

    .tile-slider.active .slider-post .slider-items__item {
        width: 33.333333% !important;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    .list-data__lb {
        float: none;
        margin-bottom: 5px;
    }

    .list-data__tx {
        padding-left: 0;
    }

    .card {
        min-height: 436px;
    }

    .list-data {
        min-height: 245px;
    }
}

@media (min-width: 768px) {
    .container {
        width: auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.result-box{
    clear: both;
    width: 100%;
    box-shadow: 0 0 5px #22ae88;
}
.result-text {
    color: #27ae60;
}

img {
    max-width: 800px;
    max-height: 600px;
}