

.red {
    color: #ff0000;
}

.black {
    color: black;
}



.tableHeader {
    font-weight: bold;
    color: #9acfea;
}

.errorField {
    background-color: #ffcccc;
    border: 2px solid red;
}

.table {
    width: auto;
    border-spacing: 5px;
}

.up-padding {
    padding-top: 100px;
}

.buttonPaddingTop {
    padding-top: 10px;
}

.tableSpacing {
    border-spacing: 5px;
}

.buttonWidth {
    width: 100px;
}

.labelWidth150 {
    width: 150px;
}

.labelWidth200 {
    width: 200px;
}

.labelWidth300 {
    width: 300px;
}

a:hover {
    color: white;
}

.errorMessage {
    padding-top: 30px;
    padding-bottom: 30px;
    color: red;
}

.block {
    width: 100px;
    height: 100px;
    position: relative;
}

.block img {
    max-width: 100%;
    max-height: 100%;
}
