.fontSize125 {
    font-size: 125%;
}

.fontSize140 {
    font-size: 140%;
}

.fontSize180 {
    font-size: 180%;
}

.fontSize200 {
    font-size: 200%;
    color: #9d9d9d;
}

.red {
    color: red;
}

.black {
    color: black;
}

.bold {
    font-weight: bold;
}

.href {
    font-size: 120%;
}

.errorField {
    background-color: #ffcccc;
    border: 2px solid red;
}

.table {
    width: auto;
    font-size: 140%;
    border-spacing: 5px;
}

.up-padding {
    padding-top: 100px;
}