<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="dataSourse" class="ua.com.vertex.dao.MySQLDataSourse">
        <constructor-arg name="url" value="jdbc:mysql://seadev.tk:3306/db1"/>
        <constructor-arg name="user" value="user1"/>
        <constructor-arg name="password" value="111"/>
    </bean>



</beans>